
@{
    ViewBag.Title = "ConfirmedRequest";
}

<br />
<h2>Заявка успешно зарегистрирована!</h2>

<div>
    <br />
    <a class="btn btn-default" href="@Url.Action("UserPage", "Home")">Вернуться к заявкам</a>
</div>


