@model MVC_Diploma.Models.Payment
@{
    ViewBag.Title = "Greets";
}
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="~/Content/StyleForTables.css">

</head>

<body>
    <div>
        <a class="btn btn-default" href="@Url.Action("Payment", "Request", new {requestId = Model.RequestId }, null)">Оплатить</a>
    </div>
</body>

