@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>
    Организация в сфере жилищно-коммунальных услуг создана для осуществления деятельности в целях решения социальных задач, таких как:
</p>
<p>
    1.	Оказание жилищно-коммунальных услуг населению по минимальным регулируемым ценам.
</p>
<p>
    2.	Удовлетворение общественных потребностей в результатах деятельности предприятия и получения прибыли.
</p>

