
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

@Html.ActionLink("Посмотреть всех пользователей", "Index", "Admin")
<br />

@Html.ActionLink("Добавить заявку", "ServiceCreation", "Admin")

<br />
@Html.ActionLink("Добавить пользователя", "AddUser", "Admin")

<br />
<a class="btn btn-default" href="@Url.Action("Export", "Admin")">Отчет по заявкам</a>
<div>
    @using (Html.BeginForm("Import", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-excel" }))
    {
        <div>
            Загрузите Excel-файл:
            <input type="file" name="fileExcel" id="fileExcel" />
            <div>
                <input type="submit" value="Загрузить" />
            </div>
        </div>
    }
</div>


