
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

@Html.ActionLink("Посмотреть всех пользователей", "Index", "Admin")
<br />

@Html.ActionLink("Добавить заявку", "ServiceCreation", "Admin")

<br />
@Html.ActionLink("Добавить пользователя", "AddUser", "Admin")


