@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<p>Адрес: 107023, г. Москва, ул. Большая Семёновская, 38</p>
<p>
    тел.: +7 (495) 223-05-23
</p>
<p>
    факс: +7 (499) 785-62-24
</p>
<p>
    e-mail: mospolytech@mospolytech.ru
</p>
