
@{
    ViewBag.Title = "RolesAboutView";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Roles information</title>

    <link rel="stylesheet" href="~/Content/StyleSheetForRoles.css">

</head>

<body>

    <div class="card">
        <h1>Роли</h1>

        <details class="info" open>
            <summary>Админ</summary>
            <p>Управляющая роль в компании, обладает всеми возможными правами в иформационной системе. Может редактировать пользователей системы, добавлять различного рода услуги и выставлять на них цену. Также может проводить все доступные виды деятельности инфромационной системы.</p>
        </details>
        <details class="info" open>
            <summary>Житель</summary>
            <p>Самая многочисленная роль. Доступны функции создания заявки и оценки рабочего,  после выполнения услуги.</p>
        </details>
        <details class="info" open>
            <summary>Мастер</summary>
            <p>Роль, ответственная за выполнение заявок пользователей.</p>
        </details>
        <details class="info" open>
            <summary>Диспетчер</summary>
            <p>Роль, ответственная за регистрацию заявок и дальнейшего подтверждения, для передачи их мастеру.</p>
        </details>
        @*<details class="info" open>
            <summary>Бухгалтер</summary>
            <p>Risk groups and their relatives</p>
        </details>
        <details class="info" open>
            <summary>Юрисконсультант</summary>
            <p>Risk groups and their relatives</p>
        </details>
        <details class="info" open>
            <summary>Программист</summary>
            <p>Risk groups and their relatives</p>
        </details>*@

    </div>

</body>

</html>

