
@{
    ViewBag.Title = "RolesAboutView";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Roles information</title>

    <link rel="stylesheet" href="~/Content/StyleSheetForRoles.css">

</head>

<body>

    <div class="card">
        <h1>Роли</h1>

        <details class="info" open>
            <summary>Админ</summary>
            <p>Risk groups and their relatives</p>
        </details>
        <details class="info" open>
            <summary>Житель</summary>
            <p>Risk groups and their relatives</p>
        </details>
        <details class="info" open>
            <summary>Мастер</summary>
            <p>Risk groups and their relatives</p>
        </details>
        <details class="info" open>
            <summary>Бухгалтер</summary>
            <p>Risk groups and their relatives</p>
        </details>
        <details class="info" open>
            <summary>Юрисконсультант</summary>
            <p>Risk groups and their relatives</p>
        </details>
        <details class="info" open>
            <summary>Программист</summary>
            <p>Risk groups and their relatives</p>
        </details>

    </div>

</body>

</html>

